<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
  
  <ros2_control name="diff_drive" type="system">
  
    <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
  
    <joint name="leftwheelfront">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="leftwheelbehind">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  
    <joint name="rightwheelfront">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="rightwheelbehind">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>


  <!-- Slide mid-->
    <joint name="slidemid">
      <command_interface name= "position">
        <param name="min">-0.4</param>
        <param name="max">-0.1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

      <!-- Slide up-->
    <joint name="slideup">
      <command_interface name= "position">
        <param name="min">-0.4</param>
        <param name="max">-0.1</param>
      </command_interface>      
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>   
      <!-- Ban bong-->
    <joint name="banbong">
      <command_interface name= "position">
        <param name="min">0</param>
        <param name="max">1.0472</param>
      </command_interface>      
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>  
      <!-- Ban left-->
    <joint name="banleft">
      <command_interface name= "velocity">
        <param name="min">-1000</param>
        <param name="max">1000</param>
      </command_interface>      
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>  
      <!-- Ban right-->
    <joint name="banright">
      <command_interface name= "velocity">
        <param name="min">-1000</param>
        <param name="max">1000</param>
      </command_interface>      
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>  
  </ros2_control>

  <gazebo>
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find test8)/config/control.yaml</parameters>

    </plugin>
  </gazebo>


</robot>